<h1>The Forum for the Supernatural and the Strange</h1>


<pre>Hello, <%= current_user['username'] %>!</pre>

  <ul class="navbar">
<li><a href="/login_success">Main Page</a></li>
<li><a href="/topics">Topics</a></li>
<li><a href="/monsterpedia">Monsterpedia</a></li>
    </ul>


    <p>
    	Welcome to the Mythical Forum, where the abnormal is commonplace, the bizarre is mundane, and the scary is a-okay! Whether you're a ghoul or a witch, a vampire or a werewolf(or anything in between). Mythical is a safe haven for the magical where you will be able to browse topics, post comments, and find like-minded individuals to share ideas with. We hope you enjoy your time here!
    </p>

    