<form actions="/login" method="post">
    <label for="email">Email Address:</label><br />
    <input type="email" name="email" /><br/>
    <label for="username">Username:</label><br />
    <input type="text" name="name" /><br/>
    <label for="password">Password:</label><br />
    <input type="password" name="password" /><br/>
    <input type="submit" value="Log In"><br/>
</form>