<h1>Log In</h1>

<% if @error %><%= @error %><% end %>

<form method="post" action="/login">
<label for="username">Enter your username: </label><br/>
<input type="text" name="username" /><br/>
<label for="password">Enter your password: </label><br/>
<input type="password" name="password" /><br/>
<input type="submit" value="Log In">
<a href="/signup">Sign Up</a>
	
</form>
