<h1>The Forum for the Supernatural and the Strange</h1>
<h2>Sign Up</h2>
<form actions="/signup" method="post">
<label for="username">Username: </label><br/>
<input type="text" name="username" /><br/>
<label for="password">Password: </label><br/>
<input type="password" name="password" /><br/>
<input type="submit" value="Sign Up!"><br/>
<a href="/login">Go to Log In</a>
</form>


