<h1>The Forum for the Supernatural and the Strange</h1>
<pre>Hello, <%= current_user['username'] %>!</pre>

<h2>Topics</h2>

<a href="login_success">Main Page</a>


<form class="new_topic" action="/topics" method="post">
<div class="input-row">
  <ul>
  <% @new_topics.each do |topic| %>
   <li><%= topic["topic_title"] %> - by <%= topic["username"] %></li>
  <% end %>
  </ul>
      <label for="topic_title">Enter a Topic Title:</label><br />
      <textarea name="topic"></textarea><br />
      <input class="topic-create" type="submit" value="Create Topic"/>
</div>
</form>