<h1>The Forum for the Supernatural and the Strange</h1>

<pre>Hello, <%= current_user['username'] %>!</pre>

  <ul class="navbar">
<li><a href="/login_success">Main Page</a></li>
<li><a href="/topics">Topics</a></li>
<li><a href="/monsterpedia">Monsterpedia</a></li>
    </ul>

    <div class=topic>
     <h3><%= "#{@single_topic['topic_title']} -posted by  #{@single_topic['username']} " %></h3>
      </div>

