<h1>The Forum for the Supernatural and the Strange</h1>
<pre>Hello, <%= current_user['username'] %>!</pre>


  <ul class="navbar">
<li><a href="/login_success">Main Page</a></li>
<li><a href="/topics">Topics</a></li>
<li><a href="/monsterpedia">Monsterpedia</a></li>
    </ul>
<h2>Topics</h2>

<form class="new_topic" action="/topics" method="post">
<div class="input-row">
      <label for="topic_title">Enter a Topic Title:</label><br />
      <input type="text" name="topic_title" /><br />
      <input class="topic-create" type="submit" value="Create Topic"/>
  <ul>
  <% @new_topics.each do |topic| %>
      <a href="/topics/<%= "#{topic['id']}" %>">
   <li><%=  topic['topic_title'] %> - by <%= topic['username'] %></li></a>
  <% end %>
  </ul>
</div>
</form>